{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}


{% block title %}
    MmaWatchmap: {{mma_watchmap.otherId}}
{% endblock title %}


{% block content %}

    <div class="container">

        <div class="row mt-4">

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_mma_watchmap_header.html" %}
            </div>

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_mmalist_table.html" with zerotext="Zero objects have been matched against this watchmap so far." table=table header="MMA Watchmap Results"  desc="A list of objects located within the '"|add:mma_watchmap.otherId|add:"' mma_watchmap"  export_name=mma_watchmap.otherId|add:"_watchmap_results"%}
            </div>
        </div>
    </div>

{% endblock %}
