
{% load humanize %}


<div class="card border-0 mt-3 shadow h-100">

    <div class="card-body p-2 pt-4">
        <div class="table-responsive p-4 pt-0">
            <table style='width:50%' class="table table-flush datatable" id="{{type}}_datatable">
                <thead class="thead-light">
                    <tr>
                        <th>Metric</th>
                        <th align='right'>Value</th>
                    </tr></thead>
                <tbody>

                    {% for metric, value in status %}

                        <tr>
                            <td >{{metric}}</td>
                            <td align='right'>{{value}}</td>



                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

