
{% load humanize %}
{% load widget_tweaks %}


<div class="modal fade" id="duplicateFilterForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5 mb-3">
                <h2 class="h4 text-center">Duplicate Filter</h2>
                <p class="text-center mb-4">Copy the '{{filterQ.name}}' filter to My Filters</p>
                <form enctype="multipart/form-data" method="post" class="mt-0 mb-3">

                    {% csrf_token %}

                    <div class="form-group mb-4">
                        <label for="name">Filter Name</label>
                        <div class="input-group">
                            {{ duplicateForm.name|add_class:"form-control" }}
                        </div>
                        <span class="text-error">{{ duplicateForm.name.errors }}</span>

                    </div>

                    <div class="form-group mb-4">
                        <label for="description">Description</label>
                        <div class="input-group">
                            {{ duplicateForm.description|add_class:"form-control" }}

                        </div>
                        <span class="text-error">{{ duplicateForm.description.errors }}</span>
                    </div>

                    <div class="form-group mb-4">

                        <label for="run">Triggers</label>
                        <div class="ms-2  form-check form-switch">
                            {{ form.runOnAlert|add_class:"form-check-input" }}
                            <label class="form-check-label text-gray-500" for="runOnAlert">On new alert</label>
                        </div>

                        <div class="ms-2  form-check form-switch">
                            {{ form.runOnAnnotation|add_class:"form-check-input" }}
                            <label class="form-check-label text-gray-500" for="runOnAnnotation">On new annotation</label>
                        </div>

                        <span class="text-error">{{ form.run.errors }}</span>

                        <span class="text-error">{{ duplicateForm.run.errors }}</span>
                    </div>

                    

                    <div class="form-group mb-4">

                        <label for="output">Notifications</label>
                        <small class="d-flex align-items-center text-gray-500 mb-2">How would you like to be notified of new sources matching your filter?</small>
                        {{ duplicateForm.output|add_class:"form-select" }}

                        <span class="text-error">{{ duplicateForm.output.errors }}</span>
                    </div>
                    <div class="form-group mb-4">
                        <div class="ms-2 form-check form-switch">
                            <label for="public">Public</label>
                            {{ duplicateForm.public|add_class:"form-check-input" }}
                            <small class="d-flex align-items-center text-gray-500">Submit filter to the public gallery</small>
                        </div>

                    </div>

                    <div class="d-grid">
                        <button type="submit" name="action" value="copy" class="btn btn-dark"><span class="align-middle ms-2 icon-xs">Duplicate</span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function onDuplicateFilterFormShown(event) {
        // DISBALE runOnAnnotation AND runOnAlert SWITHCES 
        var duplicateFilterFormModal = document.getElementById('duplicateFilterForm');
        if (!duplicateFilterFormModal) {
            return;
        }
        const runOnAnnotationSwitch = duplicateFilterFormModal.querySelector('#id_runOnAnnotation');
        const runOnAlertSwitch = duplicateFilterFormModal.querySelector('#id_runOnAlert');
        const annotatorsDropdown = document.getElementById('id_annotators');
        const notificationDropdown = duplicateFilterFormModal.querySelector('#id_output');

        if (runOnAnnotationSwitch) {
            // DISABLE IF NO ANNOTATORS SELECTED, OTHERWISE ENABLE
            if (annotatorsDropdown) {
                runOnAnnotationSwitch.disabled = annotatorsDropdown.selectedOptions.length === 0;
            }
            if (runOnAnnotationSwitch.disabled) {
                runOnAnnotationSwitch.checked = false;
            }
            if (!runOnAnnotationSwitch.checked && !runOnAlertSwitch.checked) {
                notificationDropdown.value = "0";
                notificationDropdown.disabled = true;
            } else {
                notificationDropdown.disabled = false;
            }

        }
        
    }

    document.addEventListener('DOMContentLoaded', function () {
        var duplicateFilterFormModal = document.getElementById('duplicateFilterForm');
        if (duplicateFilterFormModal) {
            duplicateFilterFormModal.addEventListener('shown.bs.modal', onDuplicateFilterFormShown);
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        var duplicateFilterFormModal = document.getElementById('duplicateFilterForm');
        if (duplicateFilterFormModal) {
            duplicateFilterFormModal.addEventListener('shown.bs.modal', onDuplicateFilterFormShown);
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        var duplicateFilterFormModal = document.getElementById('duplicateFilterForm');
        if (!duplicateFilterFormModal) {
            return;
        }
        var runTrigger1 = duplicateFilterFormModal.querySelector('#id_runOnAnnotation');
        var runTrigger2 = duplicateFilterFormModal.querySelector('#id_runOnAlert');
        if (runTrigger1) {
            runTrigger1.addEventListener('click', onDuplicateFilterFormShown);
        }
        if (runTrigger2) {
            runTrigger2.addEventListener('click', onDuplicateFilterFormShown);
        }
    });
</script>
{% endblock javascripts %}
