{% load static %}

<script src='https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js' charset='utf-8'></script>

<div class="card border-0 shadow h-100">
    <div class="card-body">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected in MMA watchmap">{{count}}</span>

        <div class="row d-flex   justify-content-start">
            <div class="col-12 mb-3 d-flex align-items-center   justify-content-start">
                <div class="icon-shape icon-shape-tertiary rounded me-2">
                    {% include "includes/icons/icon_watchmap.html" %}
                </div>
                <div class="h2 fw-extrabold mb-0 ms-2 d-none d-sm-inline">'{{ mma_watchmap.otherId }}' Associations</div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div id='aladin-lite-div' style='width: 800px; height: 600px;'></div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <nobr>
                <div class="btn-group" >
                    <button class="btn btn-sm btn-dark dropdown-toggle border-white " type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {% include "includes/icons/icon_export.html" %}
                    <span class="align-middle  d-none d-md-inline">Export</span><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            </nobr>
        </div>
    </div>
</div>

<script type="text/javascript">
var aladin;
var circle_size = 0.4;
var url = 'https://lasair-lsst-dev.lsst.ac.uk/lasair/static/mmagw/{{ mma_watchmap.otherId }}/{{ mma_watchmap.version }}/';
A.init.then(() => {
    aladin = A.aladin('#aladin-lite-div',
        {target: '{{ mma_watchmap.params.location.RA }} {{ mma_watchmap.params.location.Dec }}', fov: 20,
        projection: 'AIT', survey: 'P/Mellinger/color'});
    var moc90 = A.MOCFromURL(url+'90.moc', {color: '#ce4257', lineWidth: 6});
    aladin.addMOC(moc90);
    var moc50 = A.MOCFromURL(url+'50.moc', {color: '#f0a202', lineWidth: 6});
    aladin.addMOC(moc50);
    var moc10 = A.MOCFromURL(url+'10.moc', {color: '#00babb', lineWidth: 6});
    aladin.addMOC(moc10);

    var cat2 = A.graphicOverlay({color:'lightgray', lineWidth: 6});
    aladin.addOverlay(cat2);
    {% for object in table2 %}
        cat2.add(A.circle({{ object.ra }}, {{ object.decl }}, {{ object.probdens2 }}*circle_size));
    {% endfor %}

    var cat3 = A.graphicOverlay({color:'yellow', lineWidth:9});
    aladin.addOverlay(cat3);
    {% for object in table3 %}
        cat3.add(A.circle({{ object.ra }}, {{ object.decl }}, {{ object.probdens3 }}*circle_size));
    {% endfor %}
});
</script>
