[Unit]
Description=Lasair sherlock wrapper
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
WorkingDirectory={{ ansible_env.HOME }}/{{ git_name}}/pipeline/sherlock
ExecStart=/usr/bin/python3 sherlock_runner.py --nprocess=2
Restart=on-failure


[Install]
WantedBy=multi-user.target
