{% extends "layouts/base.html" %}
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block title %}
Objects with tag {{ tag }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-4">

<h1>Tag = {{ tag }}</h1>
The first column is the diaObjectId, then "obj_last" is the number of days since the last 
detection (diaSource) for that object, then "tag_age" is the number of days 
since the tag was assigned to the object.

<table border=1 style="width:50%">
<thead>
<tr><th>diaObjectId</th><th>obj_last</th><th>tag_age</th></tr>
</thead>
<tbody>
{% for row in table %}
<tr><td><a href=/objects/{{ row.diaObjectId }}>{{ row.diaObjectId }}</a></td>
<td>{{ row.obj_last }}<td>
<td>{{ row.tag_age }}<td>
</tr>
{% endfor %}
</tbody>
</table>



        </div>
    </div>
{% endblock %}
