---
# To be executed on ONE CASSANDRA NODE ONLY. (Doesn't matter which one!)
# Code can be executed as often as necessary. Does not need to be idempotent.

- name: Create keyspace
  command: "{{ item }}"
  with_items:
    - "cqlsh -e \"CREATE KEYSPACE IF NOT EXISTS {{ keyspace }} WITH REPLICATION = {'class':'NetworkTopologyStrategy','somerville':{{ replication_factor }} };\""

- name: Make sure the repo is up to date
  git:
    repo: "{{ git_url }}"
    dest: "{{ ansible_env.HOME }}/{{ git_name }}"
    version: "{{ lasair_version }}"

- name: Create CQL files
  ansible.builtin.shell:
    cmd: "python3 3_make_create_table.py cql {{ schema }} {{ item }} > {{ schema }}/{{ item }}.cql"
    chdir: "{{ ansible_env.HOME }}/{{ git_name }}/common/schema"
  loop:
    - "diaForcedSources"
    - "diaSources"
    - "diaObjects"
    - "ssSources"
    - "MPCORBs"

- name: Create tables
  ansible.builtin.shell:
    # slightly convoluted way of invoking cqlsh because the cqlsh snap has problems reading files
    #cmd: "echo ';' | cat {{ item }}.cql - | cqlsh -k {{ keyspace }}"
    cmd: "cqlsh -k {{ keyspace }} -f {{ item }}.cql"
    chdir: "{{ ansible_env.HOME }}/{{ git_name }}/common/schema/{{ schema }}"
  with_items:
    - "diaForcedSources"
    - "diaSources"
    - "diaObjects"
    - "ssObjects"
    - "ssSources"
    - "MPCORBs"

- name: flush handlers
  meta: flush_handlers
