---
# vars file for sherlock

sherlock_secret: "{{ lookup('hashi_vault', 'secret='+vault.path+'/sherlock url='+vault.url)}}"

image: "gpfrancis/sherlock-wrapper:0.7.3"
brokers: "{{ groups['kafka'] | join(':9092,') }}:9092"
group_id: "sherlock_wrapper_1"
input_topic: "lsst_ingest"
output_topic: "lsst_sherlock"
sherlock_db: "crossmatch_catalogues"
sherlock_db_host: "127.0.0.1"
