group.id={{ group_id }}
client.id={{ client_id }}
bootstrap.servers={{ ztf_source }}

auto.offset.reset=earliest
exclude.internal.topics=true

partition.assignment.strategy=org.apache.kafka.clients.consumer.RoundRobinAssignor
session.timeout.ms=120000
request.timeout.ms=300000

receive.buffer.bytes=1048576
fetch.min.bytes=524288
fetch.max.wait.ms=1000
heartbeat.interval.ms=10000
max.partition.fetch.bytes=4194304
max.poll.records=1000

security.protocol=PLAINTEXT

